{% extends 'base.html' %}

{% block content %}


<h1 class="text-center mt-5" >Quiz</h1>
  {% if quiz  %}
    <main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {% for q in quiz%}
          <div class="col mt-2">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">Quiz</text></svg>

              <div class="card-body">
                <h4> {{q.name}}</h4>
                <p class="card-text"> {{q.desc}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'detail' q.url%}" class="btn btn-sm btn-outline-secondary">View</a>

                  </div>
                  <small class="text-muted">Time {{ q.time }} seconds</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</main>
{% else %}
<h4 class="text-center mt-5">Not Quiz</h4>
{% endif%}

{% endblock %}
 
