{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="top-cover mt-5">
        <div class="mb-5">
            <h5>First name: {{rating.user.first_name}}</h5>
            <h5>Last name: {{rating.user.last_name}}</h5>
            <h5>Rating: {{rating.rating}} <a class ="btn btn-danger" href="{% url 'clear' %}" >Clear</a></h5>
        </div>
      {% if marks_of_user%}
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Quiz</th>
      <th scope="col">Score</th>
      <th scope="col">Percentage</th>
      <th scope="col">Time Taken</th>
        <th scope="col">Correct answers</th>
        <th scope="col">Incorrect answers</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for data in marks_of_user%}
    <tr>

      <td>{{data.quiz.name}}</td>
      <td>{{data.score}}</td>
      <td>{{data.percentage}} %</td>
      <td>{{data.time}} seconds</td>
      <td>{{data.correct}}</td>
      <td>{{data.incorrect}}</td>
      <td><a class ="btn btn-danger btn-lg" href="{% url 'delete' data.id %}" > </a></td>
    </tr>
    {% endfor%}
  </tbody>
</table>
      {%else%}
      <h1 class="text-center"><a href="{% url 'home' %}">No data pass the quiz</a></h1>
      {% endif%}
    </div>
</div>
{% endblock %}